@media screen and (min-width: 30em) {
     .header {
          justify-content: space-around;
          align-items: center;
          display: flex;
          flex-direction: row;

          & .div-master_header {
               gap: 2em;
          }
     }

     main {
          padding-top: 4em;
          flex: 1;
     }

     .p {
          width: 53%;
     }

     ul {
          width: 53%;
     }
}